<div class="container">
    <div class="row margin-bottom">
        <h1 class="text-center">{{ 'advantages_title' | translate }}</h1>
        <div class="col-md-4">
			<h1 class="text-center"><img src="assets/icon-savings.png" width="30%"></h1>
			<h2 class="text-center">{{ 'advantage_item_1_title' | translate }}</h2>
			<p class="text-center">{{ 'advantage_item_1_text' | translate }}</p>
        </div>

        <div class="col-md-4">
			<h1 class="text-center"><img src="assets/icon-settlement.png" width="30%"></h1>
			<h2 class="text-center">{{ 'advantage_item_2_title' | translate }}</h2>
			<p class="text-center">{{ 'advantage_item_2_text' | translate }}</p>
        </div>

        <div class="col-md-4">
			<h1 class="text-center"><img src="assets/icon-service.png" width="30%"></h1>
			<h2 class="text-center">{{ 'advantage_item_3_title' | translate }}</h2>
			<p class="text-center">{{ 'advantage_item_3_text' | translate }}</p>
        </div>
    </div>
</div>
