div.jumbotron.hero-technology {
    color: #fff;
    text-align: center;
    background: url(../../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
